body,h1,h2,p {
    margin: 0;
}

.main-div {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 37px;
}

#logo {
    font-size: 51px;
    color: #316ff6;
    font-style: family,sans-serif;
    padding: 12px 0px;
}
.signup-form{
    background-color: white;
    width: 480px;
    border-radius: 8px;
}
.form-head{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}
h2{
    padding-bottom: 5x ;
}
.input-fields{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input,select{
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;

}
.half-width{
    display: flex;
    width: 49%;
}
.full-width{
    display: flex;
    width: 100%;
}
label{
    font-size: 15px;
    color: #606770;
    padding-bottom: 5px;
}
.quater-width,.quat{
    width: 32%;
    display: flex;
}
.dob{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.gen{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 9px;
}
.radio-button{
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.radio-label{
    padding-bottom:0;
    font-size: 18px;
}
.radio-inp{
    margin: 0;
    width: auto;
}
small{
    font-size: 14px;
}
a{
    text-decoration: none;
}
.button-div{
    padding:15px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.s-btn{
    border: 0;
    background-color: green;
    color: white;
    padding: 7px 56px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500px;
}
.ac-dic{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 10px;
}
